@import 'dl-styles';

@mixin flexwrapper {
	display: flex;
	justify-content: center;
}
@mixin noflex($flex) { 
	@if $flex {
		@include flexwrapper; 
	} @else {
		display: block;
		margin: 0 auto; 
	}
}

@mixin flexcontainer($display, $direction) {
	display: $display;
	flex-flow: $direction;
}
@mixin flexitem($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin bp($device) {

	$bp-mobile: "(max-width: 480px)";
	$bp-tablet: "(max-width: 768px)";
	
	@if $device == mobile {
		@media #{$bp-mobile} {
			@content;
		}
	}
	@else if $device == tablet {
		@media #{$bp-tablet} {
			@content;
		}
	} 
}

$primary-button: 3px, none, none, 3px 30px 3px 30px, 0px 1px 3px #666;
$link-button: none, none, none, none;

@mixin primarybutton($border-rad, $border, $text-dec, $padding, $box-shadow) {
	border-radius: $border-rad;
	border: $border; 
	text-decoration: $text-dec;
	padding: $padding;
	box-shadow: $box-shadow;
}
@mixin linkbutton($border, $box-shadow, $text-dec, $background) {
	border: $border;
	box-shadow: $box-shadow;
	text-decoration: $text-dec;
	background: $background;
}

$field-styles: 25px, 2px, 1px solid #ccc;
@mixin fieldstyle($height, $border-radius, $border) {
	height: $height;
	border-radius: $border-radius;
	border: $border;
}

$sidebar: calc(100vh - 7%), $theme-padding, $theme-sidebar-bg, 296px;
@mixin sidebar($height, $padding, $colour, $min-width) {
	height: $height;
	padding: $padding;
	background: $colour;
	min-width: $min-width;
}

@mixin fontweight($weight) {
	@if $weight == bold {font-weight: 600;}
	@else if $weight == light {font-weight: 100;}	
}

@mixin fontsize($size) {
	@if $size == xlarge {font-size: 1.8em;}
	@else if $size == large {font-size: 1.5em;}
	@else if $size == medium {font-size: 1.3em;}
}