@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$theme-colour: #258096;
$theme-font: 'Open Sans', sans-serif;

$theme-padding: 1em;
$theme-border: 1px solid #e5e5e5;
$theme-extra-info: #808080;
$theme-sidebar-bg: #f4f4f4;

$primary-button-background-hover: #1f687a;
$primary-button-colour: #fff;
$link-button-colour: #0979C6;
